.scene {
    display: grid;
    grid-template-columns: 14px auto 14px;
    grid-template-rows: 14px auto 14px min-content 14px;
    width: 100%;
    height: 100%;
}

app-question {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

app-dialog-box {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
}